
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Another</title>
</head>
<body>
    <div>

        <table border="1px">
            <tr>
                <th>Title</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Name:</td>
                <td>Abir Mahmud</td>
            </tr>
            <tr>
                <td>Semester:</td>
                <td>11th</td>
            </tr>
            <tr>
                <td>CGPA:</td>
                <td>3.86</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>amabirmahmud</td>
            </tr>
            <tr>
                <td>Home District:</td>
                <td>Sherpur</td>
            </tr>
        </table>

        <a href="/Home/Index">Go to Home Page</a>
    </div>
</body>
</html>
