
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div>
        <p>I'm Abir Mahmud A Web Developer And I Am Just Graduated. For more details <a href="/Home/Another">Click here</a></p>
    </div>
</body>
</html>
