
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form action="/Home/Index" method="POST">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" name="name" value="" /></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" value="" /></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" value="" /></td>
            </tr>
            <tr>
                <td>Confirm Password: </td>
                <td><input type="password" name="confirm_password" value="" /></td>
            </tr>
            <tr>
                <td>Blood Group: </td>
                <td><input type="text" name="blood_group" value="" /></td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td><input type="text" name="gender" value="" /></td>
            </tr>
            <tr>
                <td>Date of Birth: </td>
                <td><input type="text" name="dob" value="" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>

